@font-face {
  font-display: swap;
  font-family: Onest;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  src:
    url(fonts/Onest-Regular.woff2) format('woff2'),
    url(fonts/Onest-Regular.woff) format('woff'),
    url(fonts/Onest-Regular.ttf) format('truetype');
}
@font-face {
  font-display: swap;
  font-family: Onest;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  src:
    url(fonts/Onest-Medium.woff2) format('woff2'),
    url(fonts/Onest-Medium.woff) format('woff'),
    url(fonts/Onest-Medium.ttf) format('truetype');
}
